.navbar {
    background-color: #333;
    padding: 1rem;
    color: white;
    width: 500px;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}
.logout{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
.logout:hover {
    border: 1px solid #0858ee;
    background: #494848
}
.nav-links li {
    padding: 10px;
    margin: 0 15px;

}

.nav-links   a {
    color: white;
    text-decoration: none;

}


